<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ma.ensa.www.assistdoc">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="Assist Doc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".doctor.PatientDetailsActivity"
            android:exported="false" >

            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Medications_Add" />
        <activity
            android:name=".patient.ActivityContactUs"
            android:theme="@style/home_theme" />
        <activity android:name=".patient.Medications_Activity" />

        <receiver
            android:name=".model.MedicationReminderReceiver"
            android:exported="true" />

        <activity
            android:name=".patient.ActivityDisease"
            android:theme="@style/home_theme" />

        <activity
            android:name=".chatbot.MainActivity"
            android:theme="@style/home_theme" />
        <activity
            android:name=".patient.Activity_Symptoms"
            android:theme="@style/home_theme" />

        <activity
            android:name=".IntroActivity"
            android:theme="@style/home_theme" />
        <activity
            android:name=".AskRole"
            android:theme="@style/home_theme" />
        <activity
            android:name=".SignIn_Doctor"
            android:theme="@style/home_theme" />
        <activity
            android:name=".doctor.Doctors"
            android:theme="@style/home_theme" />

        <activity
            android:name=".Activity_SignUp"
            android:theme="@style/home_theme" />
        <activity
            android:name=".Activity_SignIn"
            android:theme="@style/home_theme" />
        <activity
            android:name=".patient.SosCall_Activity"
            android:theme="@style/home_theme" />
        <activity
            android:name=".patient.Patient_MainActivity"
            android:theme="@style/home_theme" />
        <activity
            android:name=".Chat_Activity"
            android:theme="@style/home_theme" />

        <activity
            android:name=".Chat_Windo"
            android:theme="@style/home_theme" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:theme="@style/home_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>